<html>
    <title>Monocle</title>
    <h1>Monocle</h1>
    <h3>Upload comic here:</h3>
    <body>
        <form action = "http://localhost:5001/upload" method = "POST"
    enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
    </form>
    <table style="width:100%">
        <tr>
            <td> <img src="{{ img }}" width="500"> </td>
            <td> {{ message }} </td>
        </tr>
        </table>
    </body>
</html>
